body {
    background-color: rgb(31, 31, 31);
}

.header {
    display: flex;
    justify-content: center;
    margin: 50px 50px 100px 50px;
    padding: 0%;
}

.header img{
    max-width: 100%;
    height: auto;
    display: block;
}

.header-links a {
    color: yellowgreen;
    text-decoration: none;
    font-family: 'Horizon', sans-serif;
    font-weight: 700;
    padding: 10px;
    border-style: groove;
    border-color: red;
    border-radius: 5px;
}
.header-links {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
}

.left-links, 
.right-links {
    display: flex;
}

li {
    margin: 15px; 
    list-style: none;
 }
.home-picture img {
    max-width: 100%;
    height: auto;
    display: block;
}

.home-picture {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    top: 1%;
    left: 1%;
    color: rgb(189, 244, 81);
    font-family: 'Horizon', sans-serif;
    font-size: clamp(0.5rem, 10vw, 200px);
    font-weight: 900; 
    text-align: left;
}

#white-text {
    color: white;
}

h1,
p,
h2 {
    text-align: center;
    font-family: 'Horizon', sans-serif;
}

h1 {
    color: rgb(189, 244, 81);
    font-size: 100px;
}

.paragraph-container {
    display: flex;
}

#left-sidebar,
#right-sidebar {
    padding: 20px;
    background-color: rgb(189, 244, 81);
}

p {
    color: white;
    font-size: 40px;
    margin: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#register-button {
    color: yellowgreen;
    background-color: red;
    font-family: 'Horizon', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-shadow: -1px 1px 0px black;
    padding: 10px;
    border-style: groove;
    border-color: red;
    border-radius: 15px;
    cursor: pointer;
}

h2 {
    color: rgb(189, 244, 81);
}

footer {
    background-color: rgb(189, 244, 81) ;
    color: black;
    font-family: 'Horizon', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#instagram-logo,
#gmail-logo {
    width: 50px;
    height: auto;
}

@media (max-width: 600px) {
    .overlay-text,
    h1,
    h2,
    p {
      font-size: clamp(1rem, 5vw, 50px);
    }
    p {
        margin: 20px;
    }
    #left-sidebar,
    #right-sidebar {
        padding: 10px;
    }
    .header-links a {
        padding: 5px;
        font-size: 8px;
    }
    li {
        margin: 2px;
    }
    #register-button {
        font-size: 15px;
    }
}